body {
  background-color: rgb(253, 251, 251);    
}

#cabeçalho {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;    
  left: 0;
}

#titulo {
  text-align: center;
  color: pink;
  font-family: 'Courier New', Courier, monospace;
}

#minhafoto {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.contfoto {
  text-align: center;
}